* {
    margin: 0;
    padding: 0;
}

body, html, #dituContent {
    width: 697px;
    height: 550px;
    background-color: #ccc;
    overflow: hidden;
    margin: 30px auto;
    font-family:"微软雅黑";
}