/* 左右边栏 */
.inner {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    width: 280px;
    height: 550px;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 10px;
}

.inner-wrap h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.inner-wrap p {
    text-indent: 2em;
    font-size: 17px;
}
